{% extends "base-franchisee.html.twig" %}

{% block style %}
    <link href="{{asset("theme/plugins/bootstrap-select/css/bootstrap-select.css")}}" rel="stylesheet" />
    <link href="{{asset("theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css")}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <form method="POST" class="form-group form-float row">
                        <div class="col-md-6">
                            <div class="form-line">
                                <input type="text" class="form-control" name="date_min" value="{{date_min}}" required>
                                <label class="form-label">Período inicial</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-line">
                                <input type="text" class="form-control" name="date_max" value="{{date_max}}" required>
                                <label class="form-label">Período final</label>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button class="btn bg-pink waves-effect">BUSCAR</button> 
                        </div>    
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <p>Movimentações</p>
                </div>
                <div class="body table-responsive">
                    {% if finances %}
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th>Profissional</th>
                                    <th>CPF</th>
                                    <th>CNPJ</th>
                                    <th>Serviço</th>
                                    <th>Taxa ao sistema</th>
                                    <th>Taxa ao franqueado</th>
                                    <th>Ganho Obtido</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for f in finances %}
                                    <tr>
                                        <td>{{f.provider}}</td>
                                        <td>{% if f.cpf %}{{f.cpf}}{% else %} - {% endif %}</td>
                                        <td>{% if f.cnpj %}{{f.cnpj}}{% else %} - {% endif %}</td>
                                        <td>{{f.service}}</td>
                                        <td>R$ {{f.system_tax | number_format(2, ",", ".")}}</td>
                                        <td>R$ {{f.franchisee_tax | number_format(2, ",", ".")}}</td>
                                        <td>R$ {{f.amount | number_format(2, ",", ".")}}</td>
                                        <td>R$ {{(f.system_tax + f.franchisee_tax + f.amount) | number_format(2, ",", ".")}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Não há categorias</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{asset("theme/plugins/bootstrap-select/js/bootstrap-select.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/jquery.dataTables.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/jszip.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/pdfmake.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/vfs_fonts.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.print.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js")}}"></script>
    <script src="{{asset("script.js")}}"></script>
    <script>
        $("input[name='date_min'], input[name='date_max']").inputmask('dd/mm/yyyy', { placeholder: '__/__/____' });
    </script>
{% endblock %}