{% extends "base-provider.html.twig" %}

{% block style %}
    <link href="{{asset("theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css")}}" rel="stylesheet">
    <link href="{{asset("theme/plugins/sweetalert/sweetalert.css")}}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box bg-purple hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">attach_money</i>
                </div>
                <div class="content">
                    <div class="text">TOTAL DE GANHOS</div>
                    <div class="number">R$ {{amount | number_format(2, ",", ".")}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">attach_money</i>
                </div>
                <div class="content">
                    <div class="text">TAXA PAGA AO FRANQUEADO</div>
                    <div class="number">R$ {{franchiseeTax | number_format(2, ",", ".")}}</div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <p>Financeiro</p>
                </div>
                <div class="body table-responsive">
                    {% if finances %}
                        <table class="table dataTable">
                            <thead>
                                <tr>
                                    <th>Agendamento</th>
                                    <th>Valor recebido</th>
                                    <th>Taxa do franqueado</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for f in finances %}
                                    <tr>
                                        <td><a href="/prestador-servico/agendamento/{{f.id}}/" target="_blank"><i class="material-icons">search</i></a></td>
                                        <td>R$ {{f.amount.amount | number_format(2, ",", ".")}}</td>
                                        <td>R$ {{(f.systemtax.amount + f.franchiseeTax.amount) | number_format(2, ",", ".")}}</td>
                                        <td>R$ {{(f.amount.amount + f.franchiseeTax.amount + f.systemtax.amount) | number_format(2, ",", ".")}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Não há lançamentos financeiros</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{asset("theme/plugins/jquery-datatable/jquery.dataTables.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.flash.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/jszip.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/pdfmake.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/vfs_fonts.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.html5.min.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-datatable/extensions/export/buttons.print.min.js")}}"></script>
    <script src="{{asset("theme/plugins/sweetalert/sweetalert.min.js")}}"></script>
    <script src="{{asset("script.js")}}"></script>
{% endblock %}