<!DOCTYPE html>
<html>
    <head>
        <title>Recuperar conta | Beleza.com</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    
        <link href="{{asset("theme/plugins/bootstrap/css/bootstrap.css")}}" rel="stylesheet" />
        <link href="{{asset("theme/plugins/node-waves/waves.css")}}" rel="stylesheet" />
        <link href="{{asset("theme/plugins/sweetalert/sweetalert.css")}}" rel="stylesheet" />
        <link href="{{asset("theme/plugins/animate-css/animate.css")}}" rel="stylesheet" />
        <link href="{{asset("theme/css/style.css")}}" rel="stylesheet" />
        <link href="{{asset("style.css")}}" rel="stylesheet" />

        <style>
            .login-page{
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: 25%;
                background-image: url("{{asset("img/provider.jpg")}}");
            }
        </style>
    </head>
    
    <body class="login-page">
        <div class="login-box">
            <div class="logo">
                <a><b>Recuperar conta</b> Beleza.com</a>
            </div>
            <div class="card">
                <div class="body">
                    {% if passwordRec %}
                        {% if valid %}
                            <form method="POST" id="password-recovery">
                                <input type="hidden" name="hash" value="{{hash}}" />

                                <div class="msg">Insira uma nova senha para sua conta</div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="password" placeholder="Senha" required autofocus>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="password" class="form-control" name="conf_password" placeholder="Confirmar senha" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-block bg-purple waves-effect" type="submit">SALVAR</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <p class="align-center"><strong>Código de recuperação expirado</strong></p>
                        {% endif %}
                    {% else %}
                        <p class="align-center"><strong>Código de recuperação inválido</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>

    <script src="{{asset("theme/plugins/jquery/jquery.min.js")}}"></script>
    <script src="{{asset("theme/plugins/bootstrap/js/bootstrap.js")}}"></script>
    <script src="{{asset("theme/plugins/node-waves/waves.js")}}"></script>
    <script src="{{asset("theme/plugins/jquery-validation/jquery.validate.js")}}"></script>
    <script src="{{asset("theme/plugins/sweetalert/sweetalert.min.js")}}"></script>
    <script src="{{asset("theme/js/admin.js")}}"></script>
    <script src="{{asset("theme/js/pages/examples/sign-in.js")}}"></script>
    <script>
        $("#password-recovery").submit(function(e){
            e.preventDefault();

            if($(this).find("input[name='password']").val() != $(this).find("input[name='conf_password']").val()){
                swal("Erro", "Senha e confirmar senha devem ser iguais", "error");
                return false;
            }

            $.ajax({
                method: "POST",
                url: "/api/change-password/",
                data: $(this).serialize(),
                success: function(){
                    swal({
                        title: "Sucesso",
                        text: "Senha atualizada com sucesso",
                        type: "success"
                    });
                },
                error: function(data){
                    console.log(data);
                    swal("Erro", data.responseText, "error");
                }
            });
        });
    </script>
</html>