{% extends "base-provider.html.twig" %}

{% block style %}
    <link href="{{asset("theme/plugins/sweetalert/sweetalert.css")}}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                {% if scheduling %}
                    <div class="header">
                        <p>Detalhes</p>
                    </div>
                    <div class="body" id="scheduling-details">
                        <div class="row">
                            <div class="col-md-12">
                                {% if scheduling.status.id == 1 %}
                                    <a class="finalize-scheduling" data-id="{{scheduling.id}}"><i class="material-icons">thumb_up</i> Finalizar</a>
                                    <a class="cancel-scheduling" data-id="{{scheduling.id}}"><i class="material-icons">thumb_down</i> Cancelar</a>

                                    <hr />
                                {% endif %}
                            </div>

                            <div class="col-md-6">
                                <h2>Informações cliente</h2>

                                <figure>
                                    {% if scheduling.user.userData.social %}
                                        <img src="{{scheduling.user.userData.photo}}" />
                                    {% else %}
                                        <img src="{% if scheduling.user.userData.photo %}/upload/user/{{scheduling.user.userData.photo}}{% else %}{{asset("img/profile.jpg")}}{% endif %}" />
                                    {% endif %}
                                </figure>

                                <p><b>Nome:</b> {{scheduling.user.name}}</p>
                                <p><b>Email:</b> {{scheduling.user.email}}</p>
                                <p><b>Telefone:</b> {% if scheduling.user.userData.phone %}{{scheduling.user.userData.phone}}{% else %}-{% endif %}</p>
                                <p><b>Celular:</b> {% if scheduling.user.userData.celphone %}{{scheduling.user.userData.celphone}}{% else %}-{% endif %}</p>
                            </div> 

                            <div class="col-md-6">
                                <h2>Informações agendamento</h2>

                                {% if scheduling.notes %}<p><b>Detalhes: {{scheduling.notes}}</b></p>{% endif %}
                                {% if scheduling.rating %}<p><b>Nota: {{scheduling.rating | number_format(2)}}</b></p>{% endif %}
                                <p><b>Status:</b> {{scheduling.status.name}}</p>
                                <p><b>Solicitação:</b> {{scheduling.datetime | date("d/m/Y H:i")}}</p>
                                <p><b>Data:</b> {{scheduling.date | date("d/m/Y")}}</p>
                                <p><b>Horário:</b> {{scheduling.time | date("H:i")}}</p>

                                <hr />

                                <p><b>Método de pagamento</b> {{scheduling.paymentMethod.name}}</p>
                                <p><b>Total: R$ {{scheduling.totalAmount | number_format(2, ",", ".")}}</b></p>
                            </div> 

                            <div class="col-md-12">
                                <h2>Endereço</h2>

                                <p><b>A domicilio:</b> {% if scheduling.homeCare %}Sim{% else %}Não{% endif %}</p>
                                {% if scheduling.homeCare %}
                                    <p>{{scheduling.address.street}}</p>
                                    <p>{{scheduling.address.cep}} | {{scheduling.address.neighborhood}}, {{scheduling.address.number}}</p>
                                    <p>{{scheduling.address.city.name}} - {{scheduling.address.city.state.uf}}</p>
                                {% else %}
                                    <p>{{scheduling.provider.providerData.address.street}}</p>
                                    <p>{{scheduling.provider.providerData.address.cep}} | {{scheduling.provider.providerData.address.neighborhood}}, {{scheduling.provider.providerData.address.number}}</p>
                                    <p>{{scheduling.provider.providerData.address.city.name}} - {{scheduling.provider.providerData.address.city.state.uf}}</p>
                                {% endif %}
                            </div>

                            <div class="col-md-12">
                                <h2>Serviços</h2>

                                {% for s in scheduling_services %}
                                    <div class="scheduling-services">
                                        <h3>{{s.service.name}}</h3>
                                        <p>{{s.price | number_format(2, ",", ".")}}</p>
                                        <p>{{s.service.description}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>            
                    </div>
                {% else %}
                    <div class="body">
                        <p>Agendamento não encontrado</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{asset("theme/plugins/sweetalert/sweetalert.min.js")}}"></script>
    <script>
        $(document).on("click", ".finalize-scheduling", function(){
            var ref = this;

            swal({
                title: "Aviso",
                text: "Tem certeza que você concluiu o serviço com sucesso e deseja finalizar esse agendamento?</p>",
                html: true,
                cancelButtonText: "Cancelar",
                showCancelButton: true,
                type: "warning"
            }, function(active){
                if(active){                    
                    $.ajax({
                        method: "POST",
                        url: "/prestador-servico/scheduling/finalize/",
                        data: "id=" + $(ref).attr("data-id"),
                        success: function(data){
                            socket.emit("scheduling:finalized", data);

                            swal({
                                title: "Sucesso",
                                text: "Agendamento finalizado com sucesso",
                                type: "success"
                            }, function(){
                                window.location.href = "";
                            });
                        },
                        error: function(data){
                            console.log(data);
                            swal("Erro", data.responseText, "error");
                        }
                    });
                }
            });
        });

        $(document).on("click", ".cancel-scheduling", function(){
            var ref = this;

            swal({
                title: "Aviso",
                text: "Tem certeza que deseja cancelar esse agendamento?</p>",
                html: true,
                cancelButtonText: "Cancelar",
                showCancelButton: true,
                type: "warning"
            }, function(active){
                if(active){                    
                    $.ajax({
                        method: "POST",
                        url: "/prestador-servico/scheduling/cancel/",
                        data: "id=" + $(ref).attr("data-id"),
                        success: function(data){
                            socket.emit("scheduling:canceled", data);

                            swal({
                                title: "Sucesso",
                                text: "Agendamento cancelado com sucesso",
                                type: "success"
                            }, function(){
                                window.location.href = "";
                            });
                        },
                        error: function(data){
                            console.log(data);
                            swal("Erro", data.responseText, "error");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}